body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}
.container{
    width: 600px;
    margin: 0 auto;
}
h1{
    font-size: 2rem;
}
.profile_section{
    border: 2px solid #333;
}
label{
    width: 5rem;
    margin-right: 2rem;
}
.profile_form{
    font-size: 1.2rem;
}
.profileForm_section{
margin: 1rem;
}
.submit{
display: block;
width: 10rem;
padding: 1rem;
}